{% extends "layouts/main.html" %}

{% block pageTitle %}
 What's the company's registered email address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
     
{% endset%}
{% block beforeContent %}
  {% include "../includes/back-link.html" %}
  {% include "../includes/user-bar.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <form class="form" action="confirm-email-address" method="post">

  {{govukTag({
          text: "Content not final",
          classes: "govuk-tag--red"
        })}}


        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="new-email">
         What's the company's registered email address?
          </label>
          </h1>
         
         <p>In future, we may use this email address to send important information and notices to this company.</p>
         <p>This email address will not be available on the Companies House online register.</p>
         



{% set newEmailHtml %}
{{ govukInput({
  id: "new-email",
  name: "new-email",
  type: "text",
  classes: "govuk-!-width-one-half",
  label: {
    text: "Enter the email address"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "new-email",
  fieldset: {
    legend: {
      text: "What's the company's registered email address?",
      isPageHeading: false,
      classes: "govuk-visually-hidden"
    }
  },
  
  items: [
    {
      value: "existing-email",
      text: "info@acme.co.uk",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "new-email",
      text: "A different email address",
      conditional: {
        html: newEmailHtml
      }
    }
  ]
}) }}









         
          
          
        </div>


      
{{ govukButton({
  text: "Save and continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
