{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation Statement - WebFiling (V1) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/back-link.html" %}
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Confirmation Statement - WebFiling (V1)
      </h1>

   
{{ govukInsetText({
  html: '<a class="govuk-link" href="https://app.mural.co/invitation/mural/companieshouse8589/1677061624174?sender=jfrancis4080&key=e21f2b6b-2f40-4d0c-8dcd-039b2b919983" target="_blank">High level Mural flow (opens in new tab) </a>'
}) }}



    </div>
  </div>

{% endblock %}
