{% extends "layouts/main.html" %}

{% block pageTitle %}
Corporate annotations (V1) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/back-link.html" %}
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Corporate annotations (V1)
      </h1>
{{ govukInsetText({
  html: '<a class="govuk-link" href="https://app.mural.co/invitation/mural/companieshouse8589/1678880979814?sender=uafd9449cca8b586aabb58287&key=65da726b-4d41-4de9-acb6-c12809b106bb" target="_blank">High level Mural flow (opens in new tab) </a>'
}) }}



    <ul class="govuk-list govuk-list--bullet">


  <li>
    <a class="govuk-link" href="company-overview">Company did not comply with Companies House direction to change its name</a>
  </li>

 <li>
    <a class="govuk-link" href="company-overview-1">Fictitious addresses</a>
  </li>

<li>
    <a class="govuk-link" href="company-overview-2">Name for criminal purposes  (alternate styling)</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-3">Company ordered to change its name by Company Names Tribunal</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-4">Company directed to change its name by Companies House</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-5">Misleading indication of activities</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-6">Confirmed intelligence regarding Phoenixing behaviour</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-7">Failure to comply with statement of lawful purpose</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-8">Repeat offenders – multiple attempts to deceive or mislead</a>
  </li>

  <li>
    <a class="govuk-link" href="company-overview-9">Ineffective registered office address and name for criminal purposes</a>
  </li>

    <li>
    <a class="govuk-link" href="company-overview-12">The registered office of the company is incorrect</a>
  </li>

    <li>
    <a class="govuk-link" href="company-overview-13">This company has some directors that have not verified their identity  <strong class="govuk-tag">
  USER TEST
</strong>     
    </a>
  </li>

    <li>
    <a class="govuk-link" href="company-overview-14">Unusual behaviour has been reported by FCA/Charity Commission/Other  <strong class="govuk-tag">
  USER TEST
</strong></a>
  </li>

    <li>
    <a class="govuk-link" href="company-overview-15">This company has been directed to change its name  <strong class="govuk-tag">
  USER TEST
</strong></a>
  </li>


    <li>
    <a class="govuk-link" href="company-overview-16">This company has failed to comply with a request for information from the Registrar under section xxxx of the Companies Act 2006   <strong class="govuk-tag">
  USER TEST
</strong></a>
  </li>

   <li>
    <a  class="govuk-link" href="company-overview-17"> The Registrar has requested information or revised accounts from this company <strong class="govuk-tag">
  USER TEST
</strong></a>
  </li>

     <li>
    <a  class="govuk-link" href="company-overview-17">The Registrar is taking steps to remove this company having formed a reasonable belief that it was incorporated with information that was considered misleading, false or deceptive in a material particular</a>
  </li>

     <li>
    <a  class="govuk-link" href="company-overview-17">The Registrar is taking steps to remove this company having formed a reasonable belief that it was administratively restored with information that was considered misleading, false or deceptive in a material particular</a>
  </li>

     <li>
    <a  class="govuk-link" href="company-overview-17">The Registrar is taking steps to remove this company having formed a reasonable belief that it was formed or administratively restored with information, or a statement, that was considered misleading, false or deceptive in a material particular.</a>
  </li>
  
</ul>


 



</ul>

    </div>
  </div>

{% endblock %}
