{% extends "layouts/main.html" %}

{% block pageTitle %}
  CHS Profile (V1) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "../includes/back-link.html" %}
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        CHS Profile (V1)
      </h1>
{{ govukInsetText({
  html: '<a class="govuk-link" href="https://app.mural.co/invitation/mural/companieshouse8589/1678880979814?sender=uafd9449cca8b586aabb58287&key=65da726b-4d41-4de9-acb6-c12809b106bb" target="_blank">High level Mural flow (opens in new tab) </a>'
}) }}



    <ul class="govuk-list govuk-list--bullet">


  <li>
    <a class="govuk-link" href="company-overview">CHS Company Overview</a>
  </li>

</ul>


 



</ul>

    </div>
  </div>

{% endblock %}
