{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm company details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm company details</h1>
 

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Company name	"
      },
      value: {
        text: "ACME LIMITED"
      }
    },
    {
      key: {
        text: "Company number	"
      },
    value: {
        text: data['company-number']
      }
    },
    {
      key: {
        text: "Registered office address"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      }
    }
  ]
}) }}


   {{ govukButton({
  text: "Continue",
  href: "auth-code"
}) }}  


    </div>
  </div>
{% endblock %}
