{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
     Update a registered company email address
{% endset%}

{% block beforeContent %}
  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {{govukTag({
          text: "Content not final",
          classes: "govuk-tag--red"
        })}}
      <h1 class="govuk-heading-xl">Update a registered company email address</h1>

      <p class="govuk-body-l">Use this service to update a registered company email address.</p>

<div class="govuk-inset-text">
  You cannot use this service to register a company email address. Instructions about doing that via a <a href="https://www.gov.uk/file-your-confirmation-statement-with-companies-house" class="govuk-link">confirmation statement</a> here?
</div>

    

      <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


        <h2 class="govuk-heading-m">Before you start</h2>
        <p>Read guidance on <a href="javascript:void(0)" class="govuk-link">registered company email addresses</a>.</p>
        <p>You’ll need a Companies House password and authentication code to use this service - you’ll be able to register for these if you do not have them.
        <p><a href="https://www.gov.uk/contact-companies-house" class="govuk-link">Contact Companies House</a> to get help updating your registered company email address.<p>
  




    </div>
  </div>
{% endblock %}
